.App {
  text-align: center;
}

.page-wrapper {
  width: 960px;
  position: relative;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pad {
  width: 50px;
  height: 50px;
  background-color: red;
  display: inline-block;
  position: relative;
  margin: 10px;
}

.pad.active {
  background-color: pink !important;
}

.pad-light {
  position: absolute;
  top: 60px;
  left: 25px;
  width: 5px;
  height: 5px;
  background-color: pink;
}

.slider-wrapper div {
  margin-bottom: 0px !important;
}

.tempo-controller {
  margin: 20px;
}

.pad-light.active {
  background-color: grey;
}

.play-button {
  width: 100px;
}

.add-icon {
  background-image: url('./add_icon.png');
  background-position: -1px 3px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.add-icon-wrapper {
  float: right;
}

.tempo-display-wrapper {
  display: inline-block;
  font-size: 20px;
}

#audio_file {
  display: none;
}

.tempo-controller {
  padding: 35px;
  margin: 24px;
}

.layers {
  padding: 20px 10px 50px;
}

.layer {
  position: relative;
  padding: 5px;
}

.file-uploaded {
  position: absolute;
  max-width: 150px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 15px;
  right: 0;
  top: 33%;
  margin-right: 10px;
}

.layer-wrapper {
  text-align: center;
  margin: 20px auto;
  width: 960px;
  position: relative;
}

.layer label svg {
  margin-top: 10px;
}

.pad-wrapper {
  display: inline-block;
}

